<ion-header>
  <ion-toolbar>
    <!--<ion-icon name="arrow-back" (click)="goBack()"></ion-icon> -->
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="main-title">Create a room</h1>

  <ion-card>
       <img [src]="cameraPreview">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col style="text-align: center; font-size: 20px">
            <ion-input placeholder="Choose a selling title" [(ngModel)]="roomInfo.title"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div style="text-align: center; padding-top: 8px">
              <ion-icon name="camera" style="zoom:2.0; text-align: center" (click)="takePicture()"></ion-icon>
            </div>
          </ion-col>
          <ion-col>
            <p style="position: absolute; top: 20px">Size</p>
          <ion-input [(ngModel)]="roomInfo.size"
                     placeholder="0"
                     type="number"
                     class="custom-input"
                     style=" width: 50%; text-align: center">
          </ion-input>
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col>
            <ion-label>Start time</ion-label>
            <ion-datetime
              class="custom-date-time"
              displayFormat="H:mm, D MMM YYYY"
              max="2020"
              [min]="currTime"
              [(ngModel)]="roomInfo.startTime"
              [value]="roomInfo.startTime"></ion-datetime>
          </ion-col>
          <ion-col>
            <ion-label>End time</ion-label>
            <ion-datetime
              class="custom-date-time"
              displayFormat="H:mm, D MMM YYYY"
              max="2020"
              [min]="currTime"
              [(ngModel)]="roomInfo.endTime"
              [value]="roomInfo.endTime"></ion-datetime>
          </ion-col>
        </ion-row> -->
        <ion-row>
          <ion-col>
          <ion-textarea [(ngModel)]="roomInfo.description"
                        class="custom-textarea"
                        placeholder="Give a brief description of your room...">
          </ion-textarea>
          <p class="ion-text-end">{{roomInfo.description.length}}/250</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="ion-text-center">
              <ion-card-subtitle>Landlord:</ion-card-subtitle>
              <ion-card-subtitle>{{this.roomInfo.landlord}}</ion-card-subtitle>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-button (click)="upload()">Upload</ion-button>
        </ion-row>
      </ion-grid>
    </ion-card-content>

  </ion-card>
</ion-content>
