.room-container {

  .room-image {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    //margin-left: 4px;
    //margin-bottom: 8px;

  }

  .room-title {
    margin-top: 8px
    //position: absolute;
    //color: white;
  }

}
