$border-color: var(--ion-color-medium);

.custom-input {
  border: 1px solid var(--ion-color-medium);
  border-radius: 8px;
  padding-left: 8px !important;
  height: 50px;
  font-size: 16px;
  margin-bottom: 8px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.ion-medium {
  color: orange;
  font-size: 30px;
}

ion-toolbar {
  --border-width: 0 !important;
  height: 50px;
  margin-top: 8px;

  ion-title {
    height: 40px;
    font-size: 28px;
  }
}

.main-title {
  text-align: center;
  margin-bottom: 32px !important
}

.custom-textarea {
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 0 8px !important; //justify the content
  textarea::-webkit-input-placeholder {
    text-align: center;
  }
}
