<ion-content>
  <div class="top">
    <h1 class="main-title">Home</h1>
    <ion-button (click)="attemptSignOut()">Log out</ion-button>

    <ion-list>
      <div class="room-container"
           *ngFor="let room of rooms; trackBy: trackFunc">
        <room-card [room]="room"></room-card>
      </div>

    </ion-list>

  <div *ngIf="isNotSignedIn(); then notLoginBlock else isLoginBlock"></div>

  </div>
</ion-content>

<ng-template #isLoginBlock>

  <ion-fab id="sticky-button" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addRoom()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ng-template>

<ng-template #notLoginBlock >
</ng-template>
