<!-- <img class="room-image" [src]="room.image" alt="Visual representation of room">
<h3 class="room-title">{{room.title}}</h3>
<p class="ion-text-end room-landlord" style="top: -2px">Rented away by:</p>
<p class="ion-text-end room-landlord" style="top: 10px; right: 14px">{{stripEmailFromLandlord(room.landlord)}}</p>
<p class="room-size">{{room.size}} <ion-icon class="sqm-icon" name="cube"></ion-icon></p>
<p class="room-listing">{{convertToTimeFromNow(room.creationDate)}}</p> -->




<ion-card class="hello">
  <img [src]="room.image"/>
  <ion-card-header>
    <ion-card-subtitle>{{room.title}}</ion-card-subtitle>
    <p class="ion-text-right author">by {{stripEmailFromLandlord(room.landlord)}}.</p>
    <ion-button>Delete me</ion-button>
    <p class="ion-text-right">{{convertToTimeFromNow(room.creationDate)}}</p>
  </ion-card-header>

</ion-card>
