<!-- <img class="room-image" [src]="room.image" alt="Visual representation of room">
<h3 class="room-title">{{room.title}}</h3>
<p class="ion-text-end room-landlord" style="top: -2px">Rented away by:</p>
<p class="ion-text-end room-landlord" style="top: 10px; right: 14px">{{stripEmailFromLandlord(room.landlord)}}</p>
<p class="room-size">{{room.size}} <ion-icon class="sqm-icon" name="cube"></ion-icon></p>
<p class="room-listing">{{convertToTimeFromNow(room.creationDate)}}</p> -->




<ion-card class="hello">
  <ion-grid style="padding: 0">
    <ion-row>
      <ion-col>
        <p class="ion-text-center">{{ room.size }} sqm</p>
      </ion-col>
      <ion-col>
        <p class="ion-text-center">by {{ stripTheEmailPart(room.landlord) }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <img [src]="room.image"/>
  <ion-card-header>
    <ion-card-title class="ion-text-center">{{ room.title }}</ion-card-title>
  </ion-card-header>
    <!-- <ion-button (click)="someFunc($event)">Click me</ion-button> -->
</ion-card>
