<ion-card>
  <ion-grid style="padding: 0">
    <ion-row>
      <ion-col>
        <p class="ion-text-center">{{ room.size }} sqm</p>
      </ion-col>
      <ion-col>
        <p class="ion-text-center">by {{ stripTheEmailPart(room.landlord) }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <img [src]="room.image"/>
  <ion-card-header>
    <ion-card-title class="ion-text-center ion-padding-bottom">{{ room.title }}</ion-card-title>
    <ion-card-subtitle class="ion-text-right">{{convertToTimeFromNow(room.creationDate)}}</ion-card-subtitle>
  </ion-card-header>
    <!-- <ion-button (click)="someFunc($event)">Click me</ion-button> -->
</ion-card>
